#content {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
  }

  .flex-centered {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-color: pink;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  #searchbar {
    gap: 5px;
  }

  #header-top-right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    max-height: 70px;
  }

  #loupe {
    height: 20px;
  }

  .profile-picture {
    height: 70px;
    border-radius: 50%;
  }

  #header-user {
    display: grid;
    grid-template-columns: 80px 1fr;
    align-items: center;
  }

  .user-info {
   
    text-align: left;
  }
  
  .user-info p {
    margin: 0;
    font-size: 14px;
  }
  
  .user-info h2 {
    margin: 0;
    font-size: 24px;
  }

  #header-links {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: lightblue;
    display: grid;
    grid-template-rows: 1fr 4fr 8fr;
  }

  .sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: lightblue;
    display: grid;
    grid-template-rows: 1fr 4fr 8fr;
    color: white;
    padding: 20px;
}

#sidebar-title {
    display: flex;
    align-items: center;
}

#sidebar-title img {
    margin-right: 10px;
}

#sidebar-up li,
#siderbar-down li {
    list-style: none;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#sidebar-up li img,
#siderbar-down li img {
    margin-right: 10px;
}

#sidebar-title h2 {
    font-weight: bold;
}

  
.projects {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-color: lightgreen;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#project-header {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
}

#your-projects {
  display: grid;
  grid-template-rows: 1fr repeat(3, 3fr);
  grid-template-columns: repeat(2, 1fr);
}

.card {
  border: solid black;
}

#right-side {
  display: grid;
  padding: 15px;
}

#announcements,
#trending {
  display: grid;
  grid-template-rows: 1fr 7fr;
  margin: 5px;
  
}

#announcements-content,
#trending-content {
  background-color: aliceblue;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: grid;
}

.ann-content,
.tren-content{
  border-bottom: 1px solid gray;
}

.ann-content:last-child,
.trend-content:last-child {
  border-bottom: none;
}

.content-title {
  font-weight: bold;
}

.content-text {
  color: gray;
}